img{
  position: absolute;
}

button {
  align-self: center;
}

.title {
  font-size: 80px;
}

.player-clickable {
  width: 120px;
  height: 60px;
}


.button {
  width: 54px;
  height: 54px;
}

.timer {
  font-size: 50px;
  color: black;
}
