img{
  position: absolute;
}

button {
  position: absolute;
  align-self: center;
}

.title {
  font-size: 80px;
}

.player-clickable {
  width: 156px;
  height: 78px;
}


.button {
  width: 70px;
  height: 70px;
}

.timer {
  font-size: 50px;
  color: black;
}

.enemy {
  width: 140px; /* 22 *2*2*2 */
  height: 160px; /* 25 */
}

.chest {
  width: 160px;
  height: 80px;
}

ul {
  list-style-type: none;
}
