img{
  position: absolute;
}

button {
  align-self: center;
}

.title {
  font-size: 80px;
}

.player-clickable {
  width: 156px;
  height: 78px;
}


.button {
  width: 70px;
  height: 70px;
}

.timer {
  font-size: 50px;
  color: black;
}

.enemy {
  width: 176px; /* 22 *2*2*2 */
  height: 180px; /* 25 */
}
